<br><br><br> 
 <p> Time.zone <%= Time.zone %> </p>
  <p> Time.now <%= Time.now %> </p>
  <p> Time.now.utc <%= Time.now.utc %> </p>
  <p> Time.zone.now <%= Time.zone.now %>  </p>
  <p> Time.zone.today <%= Time.zone.today %> </p>
