<div id="outer-container" >
<div class="">
	<div class="floatLeft">ADMIN REPORT</div>
	<div class="searchUserNameBox">
		<input autocomplete="off" onkeyup="searchByUserName();" type="text" name="searchUserName" id="search_user_name" placeholder="Search By Name" class="searchUserName">
	</div>
</div>
<br><br>
<table id="adminScoreTable" width="100%" style="text-align:center;">
	<tr class="headRow">
		<td class="column1">User ID</td>
		<td class="column2">Name</td>
		<td class="column3">Goals Entered</td>
		<td class="column4">Tasks Entered</td>
		<td class="column5">Goals Completed</td>
		<td class="column6">Tasks Comepleted</td>
	</tr>
	
<% @allUserGoals.each do |ong| %>
	<tr>
		<td class="column1"><%=ong.user_id%></td>
		<td class="column2"><%=ong.name%></td>
		<td class="column3"><%=ong.totalgoals.to_i%></td>
		<td class="column4"><%=ong.totaltasks.to_i%></td>
		<td class="column5"><%=ong.completedgoals.to_i%></td>
		<td class="column6"><%=ong.completedtasks.to_i%></td>
	</tr>
<%end%>
	<tr id="noResultDiv" class="hidediv">
		<td class="column1" colspan="6" style="text-align:center;">No Results Found</td>
	</tr>
</div>