<div id="outer-container" >
	<div class="reportOuterBox">
		<div class="reportBox">
			<div class="leftTaskBox">
				<div class="dateRow">
					<div class="firstDateColumn"></div>
					<div class="oneDateColumn">Week <%=@minDate.cweek%></div>
					<% @startWeek= @minDate.cweek
					while @startWeek < @maxDate.cweek
						@startWeek += 1
						if(@startWeek > @maxDate.cweek)
							break
						end
					%>
						<div class="oneDateColumn">Week <%=@startWeek%></div>
					<%end%>
				</div>
				<div class="taskRow">
					<%@goal.tasks.each do |onetask|%>
						<div class="oneTaskRow">
							<div class="oneTaskName"><%=onetask.task%></div>
							<%
							@taskStartDate = Date.parse(onetask.startdue.strftime("%d %b %Y"))
							@taskEndDate = Date.parse(onetask.due.strftime("%d %b %Y"))
							@taskComplete = onetask.is_complete?
							@count = 1
							@tlen = onetask.tasksprogresses.length
							@showThumbsUp = false
							onetask.tasksprogresses.each do |oneprogress|
								@dateprogressed = Date.parse(oneprogress.date.strftime("%d %b %Y"))
								if @dateprogressed.cweek == @minDate.cweek
									@showThumbsUp = true
									break
								end
							end
							%>
							<div class="oneDateColumn group<%=@minDate.cweek%>" data-group="<%=@minDate.cweek%>">
								<%if @showThumbsUp == true %>
									<img src="/images/tu_on.png">
								<%elsif @minDate.cweek < @taskStartDate.cweek %>
									--
								<%elsif @minDate.cweek <= @taskEndDate.cweek and !@taskComplete %>
									<img class="thumbsOff" id="thumbs_<%=@count%>" src="/images/tu_off.png" 
										onclick="javascript:markTaskProgress(<%=onetask.id%>,<%=onetask.is_complete%>,<%=@count%>,<%=@minDate.cweek%>,<%=@minDate.year%>)"
										onmouseout="removegreen(<%=@count%>)" onmouseover="showgreen(<%=@count%>)">
								<%else%>
									<img src="/images/tu_blank.png">
								<%end%>
							</div>
							<% @startWeek = @minDate.cweek
							
							while @startWeek < @maxDate.cweek
								@startWeek += 1
								if(@startWeek > @maxDate.cweek)
									break
								end
								@count = @count + 1
								@showThumbsUp = false
								onetask.tasksprogresses.each do |oneprogress|
									@dateprogressed = Date.parse(oneprogress.date.strftime("%d %b %Y"))
									if @dateprogressed.cweek == @startWeek
										@showThumbsUp = true
										break
									end
								end
							
								%>
								<div class="oneDateColumn group<%=@startWeek%>" data-group="<%=@startWeek%>">
									<%if @showThumbsUp == true %>
										<img src="/images/tu_on.png">
									<%elsif @startWeek < @taskStartDate.cweek or @startWeek > @taskEndDate.cweek %>
										--
									<%elsif @startWeek > Date.today.cweek %>
										<img id="thumbs_<%=@count%>" src="/images/tu_blank.png">
									<%elsif @startWeek <= @taskEndDate.cweek and !@taskComplete %>
										<img class="thumbsOff" id="thumbs_<%=@count%>" src="/images/tu_off.png" 
										onclick="javascript:markTaskProgress(<%=onetask.id%>,<%=onetask.is_complete%>,<%=@count%>,<%=@startWeek%>,<%=@minDate.year%>)"
										onmouseout="removegreen(<%=@count%>)" onmouseover="showgreen(<%=@count%>)">
									<%else%>
										<img id="thumbs_<%=@count%>" src="/images/tu_blank.png">
									<%end%>
								</div>
							<%end%>
							
						</div>
					<%end%>
				</div>
				<div class="scoreRow">
					<div class="firstDateColumn"></div>
					<div id="week-score-<%=@minDate.cweek%>" class="oneDateColumn"></div>
					<% @startWeek= @minDate.cweek
					while @startWeek < @maxDate.cweek
						@startWeek += 1
						if(@startWeek > @maxDate.cweek)
							break
						end
					%>
						<div id="week-score-<%=@startWeek%>" class="oneDateColumn"></div>
					<%end%>
				</div>
				<div id="startWeek"><%=@minDate.cweek%></div>
				<div id="endWeek"><%=@maxDate.cweek%></div>
			</div>
		</div>
	</div>
</div>
<script>
dojo.removeClass('dim','hidediv');
calculateWeeklyScore();
</script>