<div id="homewrapper">

<div>
<%- flash.each do |name, msg| -%>
<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>
</div>


<div id="centercontainer">
    <div id="rightcontainer">
        <div id="updateSignContainer">
        <div id="signincontainer">
            <div id="signinarea">
                <div class="bluetext">update my account</div>
                <div class="areaform">

                    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

                    <div><%= f.text_field :name, :placeholder => 'name' %></div>

                    <div><%= f.email_field :email, :placeholder => 'email' %></div>

                    <div><%= f.password_field :password, :placeholder => 'new password' %></div>

                    <div><%= f.password_field :password_confirmation, :placeholder => 'confirm password' %></div>

                    <p><%= f.password_field :current_password, :placeholder => 'current password' %></p>

                      <div class="ilelabelDiv">
                        <label for="user_ILE Team">ILE Team</label>&nbsp;&nbsp;
                        <%= f.text_field :ileteam, :class => 'ileteamInput' , :autocomplete => 'off', :onkeypress => 'return isNumberKey(event)' %>
                      </div>

                      <div><%= f.label 'Section' %>&nbsp;&nbsp;
                        <%= f.select(:section_number, options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5],[6,6]])) %>
                      </div>


                      <div><%= f.submit "Update", :class => 'formupdate' %></div>
                    <% end %>

                </div>
            </div>

            <div id="signuparea">

                <div class="greentext">back to goals</div>
                <div class="areaform">
                    <p><%= link_to "Back", goals_path, :class => 'formsignup' %></p>
                </div>

              <div class="forgotpassword">for assistance, please contact the admin:
                <a href="mailto:fuquapdp@gmail.com"><span class="bluehighlight">fuquapdp@gmail.com</span></a>
              </div>
            </div>

        </div>
        </div>
    </div>
</div>
</div>
