
<% if user_signed_in? %>

<div id="topbar">
    <% if @users %>
    <div id="searchdiv">
		<a href="<%= goals_path%>" style="padding-left:32px;">&nbsp;</a>
        <% @users.each do |user| %>
            <% if user.id.to_i == @uid.to_i %>
                <%= link_to(user.name, goals_path(:u => user.id),:class => "userentryarticle") %>
            <% end %>
        <% end %>
    </div>
	<div id="search-input-box">
		<input id="search-input" onkeyup="javascript:showUserList()" type="text" value="" autocomplete=off placeholder="Search By Name"/>
		<% if @users %>
			<div id="userlistdiv" class="hidediv">
				<% @users.each do |user| 
					if user.access_level != 2%>
						<div class="userentry">
							<%= link_to(user.name, goals_path(:u => user.id)) %>
						</div>
					<%end%>
				<% end %>
			</div>
		<% end %>
	</div>
    <% end %>
	<% if current_user.id == @uid.to_i %>
		<div class="notificationIcon" onclick="openNotifications()">
			<%if @notifications.length != 0 %>
				<div class="notifyNumberIcon" id="notify_total_icon">
					<%=@notifications.length%>
				</div>
			<% end %>
		</div>
		<div id="notificationdiv" class="hidediv">
			<div class="notifyLabel">Notifications</div>
			<div class="fullNotificationDetails">
				<%if @notifications.length == 0 %>
					No new notifications
				<%else%>
					<% @notifications.each do |onenotification| %>
						<div class="oneNotificationDiv" 
							onclick="javascript:openCommentsPopup(<%=onenotification.task_id%>,<%=onenotification.goal_id%>,<%=onenotification.goal_user_id%>)"
							>
							<div class="mainNotifyName">
								<%=onenotification.name%> commented on your goal:
							</div>
							<div class="mainNotifiyDate">
								"<%=onenotification.comment[0,30]%>..."
							</div>
							<div class="mainNotifiyDate">
								on <%=onenotification.created_at.localtime.strftime("%b %e at %l:%M%P")%>
							</div>
						</div>
					<%end %>
				<%end %>
			</div>
		</div>
	<%end%>
    <div id="logoutdiv">
		<% if ((@myMentors and @myMentors.length > 0) or (@myMentees and @myMentees.length > 0 )) and current_user.id == @uid.to_i%>
			<a href="javascript:openConnections();">my connections</a>
			<div id="myconnectiondiv" class="hidediv">
				<%@myMentees.each do |onementee|%>
					<div class="onementorDiv">
						<span style="text-align:right;"><%= link_to(onementee.name, goals_path(:u => onementee.id)) %></span>
						<span style="color: #555555;float: right;font-size: 15px;font-style: italic;padding-right: 10px;text-align: right;">Mentee</span>
					</div>
				<%end%>
				<%@myMentors.each do |onementor|%>
					<div class="onementorDiv">
						<span style="text-align:right;"><%= link_to(onementor.name, goals_path(:u => onementor.id)) %></span>
						<span style="color: #555555;float: right;font-size: 15px;font-style: italic;padding-right: 10px;text-align: right;">Mentor</span>
					</div>
				<%end%>
			</div>
		<% end %>
		<% if current_user.access_level == 2 %>
			<%= link_to('Report', progressreport_admin_path) %> 
		<% end %>
		<% if current_user.id == @uid.to_i %>
			<%= link_to('Score Entry', scoreentry_index_path) %> 
			<%= link_to('Scorecard', scorecard_index_path) %> 
			<%= link_to('Reflection', reflection_index_path) %> 
		<% end %>
        <%= link_to('Settings', edit_user_registration_path) %>  
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>  
    </div>
</div>
<% else %>
    <% link_to('Register', new_user_registration_path)  %>
    <% link_to('Login', new_user_session_path)  %> 
<% end %>

