
<% if user_signed_in? %>

    <% if @users %>
        <div id="userlistdiv" class="hidediv">
            <div id="userdirectory">
                <div class="floatLeft">
                    user directory
                </div>
                <div class="floatRight">
                    X
                </div>
            </div>
            <% @users.each do |user| %>
                <div class="userentry">
                    <div class="floatLeft">
                        <%= link_to(user.name, goals_path(:u => user.id)) %>
                    </div>
                    <div class="floatRight">
                    <% if @uid.to_i == user.id.to_i %>
                        <span class="markme">viewing</span>
                    <% end %>
                    <% if current_user.id == user.id %>
                        <span class="markme">me</span>
                    <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>

<div id="topbar">
    <% if @users %>
    <div id="searchdiv">
        <% @users.each do |user| %>
            <% if user.id.to_i == @uid.to_i %>
                <%= user.name %>
            <% end %>
        <% end %>
    </div>
    <% end %>
    <div id="logoutdiv">
        <%= link_to('Home', goals_path) %> 
		<% if current_user.id == @uid.to_i %>
			<%= link_to('Score Entry', scoreentry_index_path) %> 
			<%= link_to('Score card', scorecard_index_path) %> 
		<% end %>
        <%= link_to('Settings', edit_user_registration_path) %>   
        <%= link_to('Help', help_index_path) %> 
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>  
    </div>
</div>
<% else %>
    <% link_to('Register', new_user_registration_path)  %>
    <% link_to('Login', new_user_session_path)  %> 
<% end %>

