<%
   @ILETeamHash = Hash.new
   @ILETeamCount = Hash.new
   @ILETeamScore = Hash.new
   @IleTeams.each do |oneileteam|
     @ILETeamHash[oneileteam.ileteam] = -1
     @ILETeamCount[oneileteam.ileteam] = 0
   end
%>
<% @counter = 0
   @currentUserRank = 0
   @userTotal = 0
   @userresult.each do |oneuser|
     if (oneuser.overallscore != '-1')
        if @ILETeamHash[oneuser.ileteam] == -1
          @ILETeamHash[oneuser.ileteam] = 0
        end
        @counter = @counter + 1
        @userscore = oneuser.overallscore.to_f
        @userTotal = @userTotal + @userscore
        @ILETeamHash[oneuser.ileteam] = @ILETeamHash[oneuser.ileteam] + @userscore
        @ILETeamCount[oneuser.ileteam] = @ILETeamCount[oneuser.ileteam] + 1
     end
     if oneuser.id == @thisUser.id
       @currentUserRank = @counter
     end
   end
   @AvgILEScore = 0
   @IleTeams.each do |oneileteam|
     @ILETeamScore[oneileteam.ileteam] = (@ILETeamHash[oneileteam.ileteam]*1.0/@ILETeamCount[oneileteam.ileteam]).round(2)
     @AvgILEScore =@AvgILEScore + @ILETeamScore[oneileteam.ileteam]
   end
   @AvgILEScore = (@AvgILEScore*1.0/@IleTeams.length).round(2)
   @classAverage = (@userTotal*1.00/@counter).round(2)
   @finalILEScore = @ILETeamScore.sort_by{ |name, score| score }.reverse
   @ilerank = 0
   @finalILEScore.each do |oneteam|
     @ilerank = @ilerank + 1
     if @thisUser.ileteam == oneteam[0]
       @userilerank = @ilerank
     end
   end
%>

<div class="personalStatsBox">
  <div class="personalRow">
    <div class="socreName">Overall Personal Score:</div>
    <div class=""><%=@overallScore%><%if @overallScore != 'N/A'%>%<%end%></div>
  </div>
  <div class="personalRow">
    <div class="socreName">Avg. ILE Team Score:</div>
    <div class=""><%=@AvgILEScore%>%</div>
    <div class="yourRank">(<%= @thisUser.name %>'s Team Rank: <%=@userilerank%>)</div>
  </div>
  <div class="personalRow">
    <div class="socreName">Avg. Class Score:</div>
    <div class=""><%=@classAverage%>%</div>
    <%if @overallScore != 'N/A'%>
        <div class="yourRank">(<%= @thisUser.name %>'s Rank: <%=@currentUserRank%>)</div>
    <%end%>
  </div>
</div>

<div class="effortBox">
  <div class="effortScoreBox">

    <div class="effortInnerBox">
      <div class="effortRow overallRow">
        <div class="effortRowTitle">Overall Effort Score</div>
        <div class="effortRowProgress"><%=@overallScore%>%</div>
      </div>

      <%@domainType = 1%>
      <div class="effortRow effortRow2">
        <div class="categoryRowBox" id="category_row_<%=@domainType%>" <% if @domainScore["academic"] != 'N/A' or @academicPrivateGoals.length != 0 %> style="cursor:pointer;" onclick="openScoreCardDetails(<%=@domainType%>,3,0)"  <% else %> style="border-bottom: 2px solid #999999"  <% end %>>
          <div class="openPlusBox"><% if @domainScore["academic"] != 'N/A' or @academicPrivateGoals.length != 0 %><span id="plus_div_3_<%=@domainType%>_0" class="openPlusDiv">[+]</span><% end%></div>
          <div class="effortRowTitle">Academic</div>
          <div class="effortRowProgress"><%=@domainScore["academic"]%></div>
        </div>
      </div>
      <%@ggoals = @academicGoals%>
      <%@ggoalsPrivate = @academicPrivateGoals%>
      <%= render 'goaleffort' %>

      <%@domainType = 2%>
      <div class="effortRow effortRow2">
        <div class="categoryRowBox" id="category_row_<%=@domainType%>" <% if @domainScore["career"] != 'N/A' or @careerPrivateGoals.length != 0 %> style="cursor:pointer;" onclick="openScoreCardDetails(<%=@domainType%>,3,0)" <% else %> style="border-bottom: 2px solid #999999"  <% end %>>
          <div class="openPlusBox"><% if @domainScore["career"] != 'N/A' or @careerPrivateGoals.length != 0 %><span id="plus_div_3_<%=@domainType%>_0" class="openPlusDiv">[+]</span><% end%></div>
          <div class="effortRowTitle">Career</div>
          <div class="effortRowProgress"><%=@domainScore["career"]%></div>
        </div>
      </div>
      <%@ggoals = @careerGoals%>
      <%@ggoalsPrivate = @careerPrivateGoals%>
      <%= render 'goaleffort' %>

      <%@domainType = 3%>
      <div class="effortRow effortRow2">
        <div class="categoryRowBox" id="category_row_<%=@domainType%>" <% if @domainScore["social"] != 'N/A' or @socialPrivateGoals.length != 0 %> style="cursor:pointer;" onclick="openScoreCardDetails(<%=@domainType%>,3,0)" <% else %> style="border-bottom: 2px solid #999999"  <% end %>>
          <div class="openPlusBox"><% if @domainScore["social"] != 'N/A' or @socialPrivateGoals.length != 0 %><span id="plus_div_3_<%=@domainType%>_0" class="openPlusDiv">[+]</span><% end%></div>
          <div class="effortRowTitle">Social</div>
          <div class="effortRowProgress"><%=@domainScore["social"]%></div>
        </div>
      </div>
      <%@ggoals = @socialGoals%>
      <%@ggoalsPrivate = @socialPrivateGoals%>

      <%= render 'goaleffort' %>

      <%@domainType = 4%>
      <div class="effortRow effortRow2">
        <div class="categoryRowBox" id="category_row_<%=@domainType%>" <% if @domainScore["personal"] != 'N/A' or @personalPrivateGoals.length != 0 %> style="cursor:pointer;" onclick="openScoreCardDetails(<%=@domainType%>,3,0)" <% else %> style="border-bottom: 2px solid #999999" <% end %>>
          <div class="openPlusBox"><% if @domainScore["personal"] != 'N/A' or @personalPrivateGoals.length != 0%><span id="plus_div_3_<%=@domainType%>_0" class="openPlusDiv">[+]</span><% end%></div>
          <div class="effortRowTitle">Personal</div>
          <div class="effortRowProgress"><%=@domainScore["personal"]%></div>
        </div>
      </div>
      <%@ggoals = @personalGoals%>
      <%@ggoalsPrivate = @personalPrivateGoals%>
      <%= render 'goaleffort' %>

      <%@domainType = 5%>
      <div class="effortRow effortRow2">
        <div class="categoryRowBox" id="category_row_<%=@domainType%>" <% if @domainScore["physical"] != 'N/A' or @physicalPrivateGoals.length != 0 %> style="cursor:pointer;" onclick="openScoreCardDetails(<%=@domainType%>,3,0)" <% else %> style="border-bottom: 2px solid #999999"  <% end %>>
          <div class="openPlusBox"><% if @domainScore["physical"] != 'N/A' or @physicalPrivateGoals.length != 0 %><span id="plus_div_3_<%=@domainType%>_0" class="openPlusDiv">[+]</span><% end%></div>
          <div class="effortRowTitle">Physical</div>
          <div class="effortRowProgress"><%=@domainScore["physical"]%></div>
        </div>
      </div>
      <%@ggoals = @physicalGoals%>
      <%@ggoalsPrivate = @physicalPrivateGoals%>
      <%= render 'goaleffort' %>
      <div class="effortRow overallRowBottom">

      </div>
    </div>
  </div>

</div>