
<div id="homewrapper">

<div>
<%- flash.each do |name, msg| -%>
<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>
</div>

   
 
<div id="centercontainer">
    <div id="largebird">
		<div id="profMessageLink" class="profMessage" onclick="javascript:openinstructions('profMessageLink','profMessageBox')">A message from Prof. Lebouef </div>
	</div>
	<div id="profMessageBox" class="hidediv">
		<div class="headtitlein">A Message from Prof. Lebouef</div>
		<div class="">
			<div class="">
				<img style="padding-right:20px;" class="floatLeft" src="/images/prof.png">
			</div>
			<div class="">
				Dear Fuquans,
				<p>Personal Developmental Planning is a core aspect of Fuqua's commitment to effective leadership development, with the ultimate goal of producing Leaders of Consequence.  Great leaders create challenging goals for themselves, for others and for their organizations.  Creating a PDP is a goal-directed, reflective process and to do it well, you should take the time to step back and consider what you want to gain from your time and experience (in this case, during your two years at Fuqua).  It is designed to encourage intentional growth through ownership and personal accountability. 
				</p>
				<p>Creating a thoughtful, organized and concise set of goals is critical to success for leaders at all levels of organizations.  CEOs, Presidents, Prime Ministers, coaches, military leaders and others employ tools similar to the Fuqua PDP to ensure they meet their business and personal goals and to ensure their teams and organizations do the same.  This is an exercise you will engage in throughout your career.  
				</p>
				<p>
					I recommend using the Reflection section of the website first, by answering the following questions. Reflecting on these questions will allow you to set meaningful goals in your PDP.
				<br>
				<ol>
					<li>
						<b>Why are you at Fuqua?</b> How do you intend to use this experience?  Why did you decide to come to business school and what would be a successful outcome for you at the end of this two-year journey? 
					</li>
					<br>
					<li>
						<b>Where are you now?</b>
						<ul>
							<br>
							<li><b>Values:</b> What are your core values?  What is most important to you?  (e.g., people, interests, personal qualities).  List your central/core values (your top 5-8).
							</li>
							<br>
							<li><b>Strengths:</b> What do you believe are some of your personal strengths?  What are the areas you feel confident about or things you feel you contribute to a group?  
							</li>
							<br>
							<li>
							<b>Weaknesses:</b> What are areas of opportunity that you would like to improve?  These can be specific (e.g., accounting) or more general (i.e., how to engage in difficult conversations with others).  
							</li>
						</ul>
					</li>
					<br>
					<li>
						<b>Where do you want to be?</b> Describe the person you want to BE, what you need to KNOW and be able to DO, by the end of the Fall terms, upon completion of your first year and upon graduation. 
					</li>
				</ol>
				</p>
				<p>Once you have taken the time to reflect on the questions listed above, please proceed to setting goals for your PDP. Remember that goals need to be SMART (Specific, Measurable, Attainable, Realistic and Time-bound).
				</p>
				<p>
					Throughout your time at Fuqua, you will be asked to continuously review and update your PDP. Goal development is not static process; it requires routine review and revision. For this purpose the Fuqua PDP is designed to record your self-reported weekly progress every Sunday night at 11:59pm. Take the Fuqua PDP seriously because it can truly enrich your development at Fuqua!
				</p>
					I wish you the very best in your journey to become a leader of consequence.
				<p>
				Regards<br>
				Prof. Joe Lebouef
				</p>
			</div>
		</div>
	</div>
    <div id="rightcontainer">
        <div id="mimtitlelg">
            <span>Fuqua PDP</span>
			<span class="mimsubtitle mimsubtitle2">Become a leader of consequence!</span>
        </div>
        <div id="signincontainer">
            <div id="signinarea">
                <div class="bluetext">sign in</div>
                <div class="areaform">

                    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                    <div><%= f.email_field :email, :placeholder => 'email' %></div>

                    <div><%= f.password_field :password, :placeholder => 'password' %></div>

                    <% if devise_mapping.rememberable? -%>
                        <div class="rememberme"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                    <% end -%>

                        
                    <div class="signinpad"><%= f.submit "Sign in", :class => 'formupdate' %></div>
                    <% end %>
                    <div class="forgotpassword">for assistance, please contact the admin: 
                        <a href="mailto:fuquapdp@gmail.com"><span class="bluehighlight">fuquapdp@gmail.com</span></a>
                    </div>
                </div>
            </div>
            <div id="signuparea">
               <div class="greentext">sign up</div>
                <div class="areaform">
                    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>

                    <div><%= f.text_field :name, :placeholder => 'name' %></div>

                    <div><%= f.email_field :email, :placeholder => 'email' %></div>

                    <div><%= f.password_field :password, :placeholder => 'password' %></div>

                    <div><%= f.password_field :password_confirmation, :placeholder => 'confirm password' %></div>

                    <div class="ilelabelDiv"><%= f.label 'ILE Team' %>&nbsp;&nbsp;
                      <%= f.select(:ileteam, options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5],[6,6]])) %>
                    </div>

                    <div><%= f.label 'Section Number' %>&nbsp;&nbsp;
                      <%= f.select(:section_number, options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5],[6,6]])) %>
                    </div>

                    <div><%= f.submit "Sign up", :class => 'formsignup' %></div>

                    <% end %>

                </div>
            </div>
        </div>
    </div>
    
</div>
    
</div>

