<div id="goalcontainer">
<div class="instructionLink" onclick="openinstructions('instructionLink','goalInstruction')">
	Instructions
</div>
<div id="goalInstruction" class="hidediv">
	<div class="headtitlein">Instructions</div>
	<div class="">
	On this page you can define, view and edit your goals and tasks for each of the five domains - Academic, Career, Social, Personal, Physical. 
	<br>
	To select a particular domain click on that domain in the lower left hand side of the page. The selected domain appears in red.
	<br>As you browse through your goals and tasks you also have the ability to self-rate progress on your current tasks. 
	<br>You may give your current tasks a "Thumbs Up". This indicates to the system that you are satisfied with the effort you have invested on that task in the current week. The system records these Thumbs Up for the week on Sunday night at 11:59pm.
	<br>You also have the ability to "Check Off" your current tasks (by clicking on the green check mark next to the Thumbs Up). This is to signal to the system that the task is complete. When all tasks related to a goal are complete the goal is assumed complete and moves over to the complete section of the page.
	<br>For each goal the system also calculates and displays the Effort Score and the Progress Score. 
	<br>The Effort Score is an indication of the effort you invested towards achieving that goal in the current week. It is calculated by dividing #(tasks given Thumbs Up) by #(total current tasks). For example, the Effort Score for a goal would be 75% if you gave a Thumbs Up to 3 out of the 4 current tasks for that goal. 
	<br>The Progress Score is an indication of the actual progress you're making towards achieving your goal, independent of the effort you're putting in. It is calculated by dividing #(completed tasks) by #(total current tasks). For example, the Progress Score for a goal would be 50% if you marked 1 out of the 2 current tasks complete.
	<br>Note: The scores for the week can also be entered on the score entry page. The scorecard provides a complete view of your Effort Score and Progress Score.

	</div>
</div>
<%= form_for(@goal) do |f| %>
<div class="goalsubcontainer">
    <div class="newgoalleft">
        <div id="editgoalheader"><% if @isedit %>edit<% else %>&nbsp;<% end %></div>
        <div class="newgoal"><%= link_to 'goal', :controller=>'goals', :action=>'index', :filter=>@filter %></div>
		<div class="categoryGoalLabel">
			<div class="categoryGoalLabel2">category</div>
			<div class="categoryGoalLabel3"><%=@filter%></div>
		</div>
    </div>

    <div class="newgoalright">
        <% if @goal.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

            <ul>
                <% @goal.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <div class="field">
            <%= f.text_field :goal, :placeholder => 'describe your goal', :class => 'goalbox' %>
        </div>
        <div class="field">
            <span class="goalsubtitle"><%= f.label :values %></span> 
            <%= f.text_field :values, :placeholder => 'what values underpin the goal?', :class => 'valuesbox' %>
        </div>
        <div class="field taskarea">
        <table>
        <% s=1; r='on' %>
        <%= f.fields_for :tasks do |t| %>
            <tr class="taskrow<%=r%>">
                <td><span class="tasksubtitle">task</span></td>
                <td><%= t.text_field :task, :allow_blank => true, :class => 'tasktext', :id => 'taskrow'+s.to_s(), :placeholder => 'break it down into concrete tasks' %></td>
                <td><img src="/images/goal_clock.png"/></td>
                <td>
                    <%= t.date_select :startdue, :use_month_numbers => true, :order => [:month, :day, :year] %> -
                    <%= t.date_select :due, :use_month_numbers => true, :order => [:month, :day, :year] %>

                    <%= t.hidden_field :is_complete %>
                    <%= t.hidden_field :user_id, :value => current_user.id %>
                </td>
            </tr>
        <% s=s+1; if s>1 then r='off' end %>
        <% end %>
        </table>
        </div>
        <div class="field">
            <span class="goalsubtitle"><%= f.label 'Goal Buddy' %></span> 
            <%= f.text_field :accountability, :placeholder => 'who will hold you accountable?', :class => 'accountabilitybox' %>
        </div>
        <div class="field">
            <%= f.hidden_field :is_complete, :value => 0 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :category, :value => @filter %>
        </div>
    </div>
<div class="actions" id="submitgoalbox">
<%= f.submit 'create', :class => 'submitgoal' %>
</div>
</div>
<% end %>



</div>
