<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>Fuqua PDP: Become a leader of consequence</title>
<%= stylesheet_link_tag "application" %> 
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
  <!-- Grab Google CDN's jQuery UI, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js" type="text/javascript"></script>
  <script type="text/javascript"> $.ui || document.write('<script src="js/libs/jquery-ui-1.8.12.custom.min.js">\x3C/script>')</script>


  <script>
dojo.ready(Mim.init);
</script>

</head>

<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

<body onclick="javascript:bodyClick();">

<div id="dim" class="hidediv"></div>
<div id="dimuser" class="hidediv"></div>
<div id="instructionDiv" class="hidediv"></div>
<div id="instructionOuterDiv" class="hidediv">
	<div class="closeButtonBox"><div class="blueCloseButton" onclick="closeInstructionBox()"></div></div>
	<div id="instructionInnerDiv">
	</div>
</div>
<div id="commentOuterDiv" class="hidediv">
	<div class="closeButtonBox"><div class="blueCloseButton" onclick="closeCommentBox()"></div></div>
	<div id="commentInnerDiv">
	</div>
</div>
<%= render 'shared/navigation' %>

<%= yield %>

</html>
<script>
  if($( "#instructionOuterDiv" )){
      $( "#instructionOuterDiv" ).draggable();
  }
</script>